<p id="notice"><%= notice %></p>

<h1 class="wottitle">Wall of Tweets - RoR Edition 2021</h1>
<br>

<div class="walltweet">
<form action="/tweets" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="mf7HFhaocJmI95ceFIG8AfM_WPZKm3CNTWDyBlCPMlkMuMEs_xQ4Xi11HNIRbQGopH6tY08FVTM86eV1w3g0Kg">
<table cellpadding="2" border="0">
<tbody><tr><td>Your name:</td><td><input size="70" type="text" name="tweet[author]" id="tweet_author"></td><td></td></tr>
<tr><td>Your tweet:</td><td><textarea rows="2" cols="70" name="tweet[content]" id="tweet_content"></textarea></td>
<td><input type="submit" name="commit" value="Tweet!" data-disable-with="Tweet!"></td></tr>
</tbody></table>
</form></div>

<% @tweets.each do |tweet| %>
      <br>
      <h3>...... <%= tweet.created_at %></h3>
      <div class="wotitem" id="item_154">
        <div class="likes">
        <span class="numlikes" id="showLikes_154"><%= tweet.likes %></span>
        <br>
        <span class="smallfont">people like this
        <span>
          <br>
          <h3>
            <a rel="nofollow" data-method="put" href="/tweets/154/like">like</a>
          </h3>
        </span>
        </span>
        </div>
      <div class="item">
      <h4>
        <em><%= tweet.author %></em> 
        @ </em><%= tweet.created_at %></em>
      </h4>
      <p><%= tweet.content %></p>
      <p style="text-align: right;"><a data-confirm="Are you sure?" rel="nofollow" data-method="destroy" href="/tweets/154">Destroy</a></p>
      </div>
      </div>
    <% end %>

<br>
